/* Ajustes generales básicos */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.table-responsive {
    max-height: 300px;
    overflow-y: auto;
}

#mapaEmpleados {
    border-bottom-left-radius: 0.375rem;
    border-bottom-right-radius: 0.375rem;
}